.container {
    position: relative;
}
  

.mainHomeBody {
    position: relative;
    background: #fff;
    height: 108vh;
    width: 70vw;
    left: 15vw;
}

.mainHomebodyUser{
    position: relative;
    background: #fff;
    height: 100vh;
    width: 70vw;
    top: -22px;
    left: 15vw;
}

.containerOverflow {
    height: 275px;
    overflow-x: auto; 
    overflow-y: hidden; 
}

.cardStyle {
    display: block; 
    background: none;
    width: 200px; 
    height: 200px;
    margin-left: 15px;
    border: 0;
}
.cardText {
    position: relative;
    text-align: left;
    color: black;
    left: -10px;
    top: -15px
}

.playhover {
    position: 'absolute';
}
.cardPlayButton{
    position: absolute;
    background: none;
    color: #fff;
    border: 0;
    top: 20px;
    left: 50px;
    opacity: 0;
    transition: .2s ease-in-out;
}

.cardStyle:hover .cardPlayButton{
    opacity: 100;
    transition: .2s ease-in-out;
}

.cardHeart{
    position: absolute;
    background: none;
    border: 0px;
    color: rgb(239, 70, 70);
    top:147px;
    left: 175px
}

.errMsg{
    color:red;
    font-size: 40px;
}

.playButtonIconStyle {
    color: #fff;
}

.mediaPlayer {
    position: fixed;
    bottom: 0px;
    overflow: hidden;
    width: 100%;
    height: 0px;
    transition: .5s ease-in-out;
}
.mediaPlayerAct {
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    background: #7d3b9c;
    overflow: hidden;
    width: 100%;
    height: 40px;
    transition: .5s ease-in-out;
}
  