/* CSS for Home */
#home-container {
    display: flex;
    flex-direction: column;
    width: 100vw !important;
}

/* CSS for Tracks Section on Home */
#featured-tracks-heading { 
    color: #ffffff;
}

#track-card-container {
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    background-color: none;
    width: 100vw;
}

