body {
  background: #1C8EF9 !important;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
  text-align: center;
}

body, #root {
  width: 100%;
  height: 100%;
}
.custom-control-label {
  font-weight: 400;
}
.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}
.forgot-password a {
  color: #167bff;
}

.sign-up,
.sign-up a {
  text-align: left;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}
.sign-up a {
  color: #167bff;
}


#HASH {
    display: flex;
    justify-content: space-between;
  }

form {
    position: absolute;
    background: white;
    padding: 5px;
    border-radius: 10px;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}  
.errMsg {
  color: red;
  font-size: 20px;
}