#checkbox-div{
    padding: 15px;
    justify-content: center;
    align-content: center;
}

.form-check {
    float: left;
}

.form-check label{
    display: inline-block;
    padding-right: 60px;
    white-space: nowrap;
}

.form-check input{
    vertical-align: middle;
}

.form-check label span{
    vertical-align: middle;
}

.btn-group {
    max-width: 65%;
}

.form-group {
    max-width: 100%;
    margin: 0%;
}

#main-container {
    max-width: 100%;
    height: 100vw;
    display: block;
    justify-content: center;
}

#settings-container {
    max-width: 60vw;
    padding: 10px 10px 20px 10px;
    margin: 0%;
    height: fit-content;
    position: relative;
    background-color:rgb(198, 198, 198);
    display: block;
    border-color:rgb(95, 95, 95);
    border-radius: 10px;
    /* width: fit-content !important; */
}

#next-btn, #back-btn {
    margin: 3%;
    float: inline-end;
}

#settings-text {
    color:rgb(57, 57, 57);
    margin-left: 2%;    
}

#settings-options-div{
    display: flex;
    justify-content: column;
}

#OR {
    margin: 0%;
    padding: 0%;
    padding-left: 50%;
    position: relative;
    align-self:center;
    color: rgb(230, 230, 230);
}


#back-btn, #next-btn, #adv-btn {
    border-radius: 0px;
    padding: 7px 20px 7px 20px;
    width: 200px;
}

#back-btn {
    background-color: #5B5B5B;
    border-color: #5B5B5B;
    float: right;
}

#next-btn {
    background-color: #F8607C;
    border-color: #F8607C;
}

#adv-btn{
    background-color: #259FB1;
    border-color: #259FB1;
}