/* CSS for Sidebar */
*{
    margin: 0;
    padding-left: 0;
    text-decoration: none;
  }
  
  .container{
    display: flex;
    height: fit-content;
    padding-left: 0px;
    width: fit-content;
  }
  
  #sidebar-container{
    margin: 0px;
    padding: 0px !important;
    height:100% !important;
    z-index: 2 !important;
  }

  main{
    width: 100%;
    /* padding: 20px; */
  }

  #main-page{
    width: 100vw !important;
    align-content: center !important;
    height: 100%;
  }

  .sidebar{
    background: #000000;
    color:white;
    /* height: 100%; */
    width: 300px;
    transition: all 0.5s;
    z-index: 2;
  }

  .top_section{
    display: flex;
    align-items: center;
    padding: 20px 15px;
  }

  .logo {
    font-size: 25px;
    width: auto;
  }

  .bars{
    display: flex;
    font-size: 25px;
    margin-left: 30px;
  }

  .link{
    display: flex;
    color: white;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
    text-decoration: none;
  }

  .active{
    background-color: #F8607C;
    color: black;
  }

  .link:hover{
    background: #B9B9B7;
    color:black;
    transition: all 0.5s;
    text-decoration: underline;
    cursor: pointer;
  }

  .link:active{
    background-color: #B9B9B7;
  }

  .icon, .link_text{
    font-size: 20px;
  } 