/* CSS for Navigation (Navbar, Sidebar, Main Content */

/* CSS for Page */
*{
  margin: 0;
  padding-left: 0;
  text-decoration: none;
}
  
.container{
  display: flex;
  height: fit-content;
  padding-left: 0px;
  margin-right: 0%;
  width: fit-content;
}

main{
  padding: 20px;
  align-content: center;
  margin: auto;
}

#main-page{
  overflow: auto;
}

/* CSS for Navbar */
.header {
  background-color: rgb(11, 11, 11);
}

.top_section{
  display: flex;
  align-items: center;
  padding: 20px 15px;
}

.logo {
  font-size: 25px;
  width: auto;
}

.bars{
  display: flex;
  font-size: 25px;
  margin-left: 30px;
}

/* CSS For Navbar buttons */
#signUpBtn, #loginBtn {
  border-radius: 15px;
  width: 100px;
}

#signUpBtn {
    background-color: #5B5B5B;
    border-color: #5B5B5B;
    color: white;
}

#signUpBtn:hover {
    background-color: #323232;
    border-color: #323232;
    text-decoration: underline;
}

#loginBtn {
    background-color: #F8607C;
    border-color: #F8607C;
    color: white;
}

#loginBtn:hover {
    background-color:#e33051;
    border-color: #e33051;
    text-decoration: underline;
}

/* CSS for Sidebar */
.sidebar-container{
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
}

.sidebar{
  background: #000000;
  color:white;
  width: 300px;
  transition: all 0.5s;
  z-index: 2;
}

.link{
  display: flex;
  color: white;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
  text-decoration: none;
}
.link:hover{
  background: #B9B9B7;
  color:black;
  transition: all 0.5s;
  text-decoration: underline;
  cursor: pointer;
}

.active{
  background-color: #F8607C;
  color: black;
}

.icon, .link_text{
  font-size: 20px;
} 