/* #card {
    position: relative;
    bottom: 20%;
    height: 10%;
}

#card-container {
    position: absolute;
    height: 10%;
    width: 10%
}


#cards-container {
    height: 1%;
} */

/* Carousel Class */
/* .Caro {
    max-height: 10%;
} */
