#card {
    position: relative;
    bottom: 20%;
    height: 10%;
}

#card-container {
    position: absolute;
    height: 10%;
    width: 10%
}

#carousel-container{
    height: 10% !important;
}

/* Carousel Class
.Caro {
    max-height: 10% !important;
} */

