.navbar-brand.abs
{
    position: absolute;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#navBarID {
    background-color: #141414 !important;
    border-style:groove;
    border-color: #141414;
}

#formID {
    /* background-color: red; */
    
}

#navbarSupportedContent {
    /* background-color: #7d3b93; */
}

.navbar-image,
.navbar-image-link {
    background: none;
    padding-left: .5%;
}

#signUpBtn, #loginBtn {
    border-radius: 15px;
    width: 100px;
}

#signUpBtn {
    background-color: #5B5B5B;
    border-color: #5B5B5B;
    color: white;
}

#signUpBtn:hover {
    background-color: #323232;
    border-color: #323232;
    /* font-weight: bold; */
    text-decoration: underline;
}

#loginBtn {
    background-color: #F8607C;
    border-color: #F8607C;
    color: white;
}

#loginBtn:hover {
    background-color:#e33051;
    border-color: #e33051;
    /* font-weight: bold; */
    text-decoration: underline;
}