.navbar-brand.abs
{
    position: absolute;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#navBarID {
    background-color: blueviolet !important;
}

#formID {
    background-color: red;
    
}

#navbarSupportedContent {
    background-color: green;
}

.navbar-image,
.navbar-image-link {
    background: none;
}