/* CSS for Navbar */
.header {
    background-color: rgb(11, 11, 11);
  }
  
  .top_section{
    display: flex;
    align-items: center;
    padding: 20px 15px;
  }
  
  .logo {
    font-size: 25px;
    width: auto;
  }
  
  .bars{
    display: flex;
    font-size: 25px;
    margin-left: 30px;
  }
  
  /* CSS For Navbar buttons */
  #signUpBtn, #loginBtn {
    border-radius: 15px;
    width: 100px;
  }
  
  #signUpBtn {
      background-color: #5B5B5B;
      border-color: #5B5B5B;
      color: white;
  }
  
  #signUpBtn:hover {
      background-color: #323232;
      border-color: #323232;
      text-decoration: underline;
  }
  
  #loginBtn {
      background-color: #F8607C;
      border-color: #F8607C;
      color: white;
  }
  
  #loginBtn:hover {
      background-color:#e33051;
      border-color: #e33051;
      text-decoration: underline;
  }
