/* CSS for Music Track Cards */
.card {
    background-color: #565656;
    width: 20vw;
    height: fit-content;
    border-radius: 10px;  
    padding-top: 5px;
}

.card:hover{
    background-color: #7c7c7c;
    border-color: rgb(60, 60, 60);
}

.card-body{
    color: white;
    overflow-wrap: break-word;
    overflow-x: hidden;
}

.card-img-top {
    width: 16vw;
    align-self: center; 
    border-radius: 10px;  
}