div{
    display: block;
}
.editCard {
    margin-top: 50px;
    border-radius: 4px;
    background-color: #fff;
    margin-bottom: 30px;
    text-align: left;
    padding-bottom: 50px;
}
.editCard .Title{
    padding-left: 10px;
}
.form-group {
    margin-bottom: 1rem;
}
.editCard label {
    font-size: 12px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: 400;
    color: #9a9a9a;
    
}
.col-md-3{
    padding-left: 25px;
}
.col-md-6{
    padding-left: 25px;
    padding-right: 25px;
}
.col-md-12{
    padding-left: 25px;
    padding-right: 25px;
}
.pr-1, .px-1 {
    padding-right: .25rem!important;
}
.pl-1, .px-1 {
    padding-left: .25rem!important;
}
.pl-1, .px-1 {
    padding-left: .25rem!important;
}
.form-control {
    border: 5px solid #e3e3e3;
    border-radius: 4px;
    color: #565656;
    padding: 8px 12px;
    height: 40px;
}

label{
    display: inline-block;
}
.form-control {
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    color: #565656;
    padding: 8px 12px;
    height: 40px;
}
.pull-right{
    float: right;
}
.cardButton{
    padding-right: 12px;
}
.userCard{
    background: white;
    margin-top: 50px;
    border-radius: 5px;
}
.content-fluid {
    width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
}

img{
    width: 124px;
    height: 124px;
    border: 5px solid #fff;
    position: relative;
    margin-bottom: 25px;
    border-radius: 50%;
}
.userBody{
    padding: 10px;
}