.mainContainer {
    background: #36393f; 
    overflow: hidden;
    height: 600px;
    width:80%; 
    padding: 15px; 
    margin-top: 20px; 
    border-radius: 70px; 
    border: 4px solid #9c3b7f;
    flex-wrap: wrap;
}

.container {
    position: relative;
}
  
.containerOverflow {
    height: 250px;
    overflow-x: auto; 
    overflow-y: hidden; 
}

.playhover {
    position: 'absolute';
    width: 200px;
    height: 200px;
}
.cardPlayButton{
    position: absolute;
    background: none;
    color: #fff;
    border: 0;
    top: 55px;
    left: 50px;
    display: none;
}

.playButtonIconStyle {
    color: #fff;
    size: 100;
}

.cardStyle:hover .cardPlayButton{
    display: block;
}
.cardStyle {
    display: block; 
    background: none;
    width: 200px; 
    height: 0px;
    border-radius: 15px; 
    margin-left: 5px;
}

.cardText {
    position: relative;
    text-align: left;
    left: -10px;
    top: -15px
}