.searchMainBody{
    position: relative;
    background: #fff;
    height: 100vh;
    width: 70vw;
    top: 0vh;
    left: 15vw;
    padding: 40px 40px 0px 40px;
    overflow: hidden;
    overflow-y: scroll;
}

.searchHeaderText {
    text-align: left;
}
.postText {
    text-align: left;
    font-size: 25px;
}

.cardStyleSearch{
    display: block; 
    background: none;
    width: 190px; 
    margin-left: 5px;
    border: 0;
}

.username{
  text-align: right;
  font-size: 15px;
  color: #7f7d7d;
  margin: 0;
}
.createdDate{
  text-align: left;
  font-size: 15px;
  color: #7f7d7d;
  margin: 0;
}

.cardPlayButton{
    position: absolute;
    background: none;
    color: #fff;
    border: 0;
    top: 15%;
    left: 25%;
    opacity: 0;
    transition: .2s ease-in-out;
}

.cardStyleSearch:hover .cardPlayButton{
    opacity: 100;
    transition: .2s ease-in-out;
}

.playhover {
    position: 'absolute';
}

.statusButton {
    background: none;
    border: 1px solid rgb(229, 229, 229);
    border-radius: 10%;
    display: flex;
    height: 30px;
    padding: .3rem;
    margin: 2.7rem .5rem 0 0;
}


.statusText {
    position: relative;
    top: -3px

}

.reactDrop {
    background: none;
    border: 1px solid rgb(229, 229, 229);
    border-radius: 10%;
    display: flex;
    height: 30px;
    margin: 2.7rem 0 0 0;
}
.inputModal{
    width: 400px;
}

.modalImg {
    height: 50px;
    width: 50px;
}

.ModalTitle{
    position: relative;
    text-align: left;
    left: -40px;
}
.ModalAddButton{
    background: none;
    border: 1px solid rgb(229, 229, 229);
    height: 30px;
    margin-top: 10px;
}