.searchBody {
    background: #36393f; 
    overflow: hidden;
    height: 100vh;
    width:80%; 
    padding: 15px; 
    margin-top: 20px; 
    border: 4px solid #9c3b7f;
    flex-wrap: wrap;
}

.textBox {
    border-radius: 20px; 
    padding: 0px 10px 0px 10px;
    border: 4px solid #9c3b7f;
    color:white;
    background: none;
    margin: 5px;
}


.mediaPlayer {
    position: fixed;
    bottom: 0px;
    overflow: hidden;
    width: 100%;
    height: 0px;
    transition: .5s ease-in-out;
}
.mediaPlayerAct {
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    background: #7d3b9c;
    overflow: hidden;
    width: 100%;
    height: 40px;
    transition: .5s ease-in-out;
}

.PostHeader {
    height: 30px;
    background: #9c3b7f;
    border: 2px solid #7d3b9c;
    color: white;
}
.postItem{
    color: white;
    height: 40px
}
.HeartButton {
    background: none;
    color: rgb(239, 70, 70);
    border: 0;
}
  